@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap: 100,200,300,400,500,600,700");

body {
    font-family: "Indie Flower", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f1ae;
}


/*------Headers------*/

.heading {
    background-color: red;
    text-align: center;
    color: yellow;
    font-weight: bold;
    font-size: 5rem;
}



/*----------------Paddings/Margins/Text----------*/

.heading {
    padding-top: 25px;
    padding-bottom: 20px;
}

.intro {
    margin: 30px 80px 30px 80px;
    text-align: center;
}

.instructions {
    margin: 30px 0 30px 0;
}

.play{
    padding-top: 15px;
}

.btn-red {
    background-color: red;
    border-color: red;
    font-weight: bold;
    color: white;
}


.buttons {
    margin: 50px 0 50px 0;
}

.leaderboard {
    margin: 30px 0 30px 0;
}

.board_space {
    text-align: center;
    font-weight: bold;
}

footer h5 {
    font-size: 1.5rem;
}

.email {
    color: red;
    font-size: 1.5rem;
}

.email:hover,

.email:active,

.email:focus,

.email:active:focus {
    color: blue;
    text-decoration: none;
}

.navbar .contact:hover {
    text-decoration: none;
    cursor: pointer;
}

.submit {
    background-color: yellow;
    color: red;
}

.contact {
    padding-left: 50px;
}

.copyright {
    text-align: center;
}

.socials {
    color: red;
    font-size: 1.5rem;
    padding: 5px;
}

.socials:hover,

.socials:active,

.socials:focus,

.socials:active:focus {
    color: blue;
    text-decoration: none;
}

.modal-content {
    background-color: red;
    color: yellow;
}

.btn--yellow {
    background-color: yellow;
    color: red;
}

.btn--blue {
    background-color: blue;
}

.home {
    text-align: right;
    margin-right: 150px;
    padding-top: 30px;
}

.back-home {
    color: black;
    font-size: 2.5rem;
}


#image {
    text-align: center;
}

.score {
    font-size: 1.5rem;
    font-weight: bolder;
}

#askQuestion {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.buttonspace {
    margin: 50px 75px 50px 75px;
}

#buttons {
    text-align: center;
}


.question-container {
  margin: 30px 10px 10px 10px;
}

.question-text {
  margin: 5px;
  font-size: 1.60rem;
  font-weight: bold;
}


button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin: 15px;
  background-color: red;
    border-color: red;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
}

.footer-details {
    padding: 20px 0 15px 0;
}


.select:hover,

.select:active,

.select:focus,

.select:active:focus {
    color: blue;
    text-decoration: none;
}

.email:hover {
    text-decoration: none;
    cursor: pointer;
}

.check-total {
    margin: 50px 0 50px 0;
    }

#score {
    margin-right: 100px;
}  