@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap: 100,200,300,400,500,600,700");

body {
    font-family: "Indie Flower", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f1ae;
}


/*------Headers------*/

.heading {
    background-color: red;
    text-align: center;
    color: yellow;
    font-weight: bold;
    font-size: 5rem;
}



/*----------------Paddings/Margins/Text----------*/

.heading {
    padding-top: 25px;
    padding-bottom: 20px;
}

.intro {
    margin: 30px 0 30px 0;
    text-align: center;
}

.instructions {
    margin: 30px 0 30px 0;
}

.play{
    padding-top: 15px;
}

.btn-red {
    background-color: red;
    border-color: red;
    font-weight: bold;
    color: white;
}

.buttons {
    margin: 50px 0 50px 0;
}

.leaderboard {
    margin: 30px 0 30px 0;
}

.board_space {
    text-align: center;
    font-weight: bold;
}

